# Dependencias (IMPORTANTE)
node_modules/

# Producción
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema y editor
.DS_Store
.vscode/
.idea/

# Variables de entorno (seguridad)
.env
.env.local